body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.data-table-extensions-action {
  visibility: hidden;
}
.catgirl-avi {
  height: 100%;
  width: 100%;
}
.hidden-button {
  visibility: hidden;
}
.loader-container {
  position: absolute;
  bottom: 0;
}
.hidden-element {
  display: none !important;
}